{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JobMatchAI Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="AI-powered job matching system" name="keywords">
    <meta content="A project that matches job seekers with relevant job opportunities based on their resumes using AI and machine learning techniques." name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 sticky-lg-top vh-100">
                <div class="d-flex flex-column h-100 text-center overflow-auto shadow">
                    <img class="w-100 img-fluid mb-4 mt-2 mt-sm-3 mt-md-4 mt-lg-5" src="{% static 'img/jobinder.png' %}" alt="JobMatchAI Image">
                    <div class="mb-4" style="height: 22px;">
                        <h4 class="typed-text-output d-inline-block text-light"></h4>
                        <div class="typed-text d-none"> AI-Powered Job Recommendation System </div>
                    </div>
                    <div class="d-flex justify-content-center mt-auto mb-3">
                        <a class="btn btn-secondary btn-square mx-1" href="https://github.com/melikaabedikoupaei/job_resume_match"><i class="fab fa-github"></i></a>
                        <a class="btn btn-secondary btn-square mx-1" href="https://www.linkedin.com/in/your-profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="d-flex align-items-end justify-content-between border-top">
                        <a href="{% url 'index' %}" class="btn w-50 border-end">Home Page</a>
                        <a href="#project" class="btn w-50 btn-scroll">Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- About Start -->
                <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s" id="project">
                    <h1 class="title pb-3 mb-5">AI-Based Job Recommendation System</h1>
                    <p>
                        <h5 style="color: #00B87B">1. Situation</h5>
                        <p class="star-description">
                            Job seekers often face challenges in finding job opportunities that match their skills and experience. Traditional job search methods require significant manual effort and may not yield the best results. This project addresses this problem by leveraging AI to automate and enhance the job matching process.
                        </p>

                        <h5 style="color: #00B87B">2. Task</h5>
                        <p class="star-description">
                            The goal was to develop a system where users can upload their resumes and receive personalized job recommendations. The system needed to efficiently process resume content, compare it with job descriptions, and provide relevant job suggestions using advanced NLP and machine learning techniques.
                        </p>

                        <h5 style="color: #00B87B">3. Action</h5>
                        <p class="star-description">
                            The project was executed with the following steps:
                        </p>
                        <ul class="star-actions">
                            <li><strong>Resume Parsing:</strong> Implemented a pipeline to convert resume files to text and extract key information using NLP libraries like spaCy and NLTK.</li>
                            <li><strong>Job Scraping:</strong> Developed a scraper to gather job descriptions from Indeed, ensuring a diverse and up-to-date dataset.</li>
                            <li><strong>Translation:</strong> Integrated Google Translate API to handle non-English job descriptions and translate them to English.</li>
                            <li><strong>Similarity Calculation:</strong> Used spaCy to compute cosine similarity between resume content and job descriptions, providing relevance scores for job matches.</li>
                            <li><strong>Evaluation:</strong> Assessed the effectiveness of job recommendations by comparing them with manually curated job lists, achieving high accuracy in matching relevant jobs.</li>
                        </ul>

                        <h5 style="color: #00B87B">4. Result</h5>
                        <p class="star-description">
                            The system effectively matched user resumes with job opportunities, offering highly relevant job suggestions. The solution improved the job search process by automating relevance assessment and reducing the time spent by users in finding suitable job positions. The project demonstrated a significant improvement in job matching accuracy and user satisfaction.
                        </p>
                    </p>
                </section>
                <!-- About End -->
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/typed/typed.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static 'mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>
