{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Melika Portfolio</title>
    <!-- Link to your CSS files -->
    <link rel="stylesheet" href="{% static 'css/roadmap.css' %}" />
  </head>
  <body>
    <!-- Audio element -->
    <h1>salamm</h1>
    <audio
      id="roadmap-audio"
      src="{% static 'audio/WHAT_I_KNOW.mp3' %}"
      autoplay
      loop
      controls
    ></audio>

    <!-- Your existing content -->
    <div class="container">
      <!-- Your content here -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Other JS files -->
  </body>
</html>
